.profileContainer {
    display: flex;
    margin-top: 20px;
}

.formContainer {
    margin: 10px;
}

.button {
    margin-top: 15px;
    margin-left: 10px;
    padding: auto;
}

@media only screen and (max-width: 768px) {
    .profileContainer {
        flex-direction: column-reverse;
    }
}